<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Medidor Alcoolico</name>
<icon src="beer.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="xhdpi" />


<description>
Um aplicativo para ver quanto você consegue beber.
</description>

<author href="https://facebook.com/leonardo.nogatz" email="leonardonogatz@gmail.com">
Leonardo
</author>

</widget>
